.venv
.vscode
.pdm-python
__pycache__
.ruff_cache
.mypy_cache
**/ray/
.lock
*.egg-info
**/logs/*
*.db
.DS_Store
data/raw/*
data/processed/*
models/*
!models/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep
notebooks/logs/*
notebooks/mlruns/*


